* {
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-weight: bold;
}

.main-cont {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}


.main-cont > button {
  width: 200px;
  align-self: center;
  padding: 1em;
  margin-bottom: 2em;
}

.card-cont {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 33%;
  height: 33vh;
  border: 2px solid black;
  padding: 0.5em;
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  /* opacity: 0.5;
  transition: 0.5s;
  cursor: pointer; */
}

.card > img {
  width: 100%;
}

.img-caption {
  color: rgba(0,0,0,0);
  border-radius: 10px;
  padding: 0.5em;
}

.img-caption:hover {
  color: rgba(0,0,0,1);
  transition: 0.5s;
  background-color: rgba(255,255,255,0.6);
  cursor: pointer;
  
}
