* {
  box-sizing: border-box;
  text-align: center;
}

:root {
  --curved: 10px;
}

#root {
  width: 100%;
}
body {
  background-color: rgb(34, 34, 34);
}

header {
  font-size: 1em;
  color: white;
  text-shadow: 2px 2px 2px black;
}

h1 {
  font-weight: bold;
}

.main-cont {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}


input[name="searchTerm"]{
  /* font-size: 2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  padding: 0.5em; */
  border-radius: var(--curved) 0 0 var(--curved);
  /* border: 2px solid black; */
}

select[name="category"],
select[name="quant"]{
  border-radius: 0;
}

select, input, button {
  padding: 0.5em;
  border-radius: 0 var(--curved) var(--curved) 0;
  font-size: 1em;
  border: 2px solid black;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu;
  font-weight: bold;
}

input {
  width: 65%;
}

select[name="quant"] {
  font-size: 0.95em;
}

button {
  background: black;
  color: white;
}

button:hover {
    background: darkslategray;
    /* color: darkslategray; */
    transition: 0.5s;
    cursor: pointer;

}
select:hover {
  cursor: pointer;
}
.main-cont > button {
  width: 200px;
  align-self: center;
  padding: 1em;
  margin-bottom: 2em;

}

.search-box {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 3em;
}

.single-card {
  width: 100%;
  height: 80vh;
  border: 2px solid black;
  padding: 0.5em;
  border-radius: var(--curved);
  position: relative;
}
.card-cont {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;  
  border-radius: var(--curved);
  /* border: 2px solid black; */
}

.card {
  width: 100%;
  height: 50vh;
  min-height: 450px;
  border: 1px solid gray;
  padding: 0.5em;
  position: relative;
}


.card:hover,
.single-card:hover {
  cursor: pointer;
  border: 10px white solid;
  transition: 0.5s;
}
.card:hover .img-caption,
.single-card:hover
 {
  opacity: 1;
  transition: 0.5s;
  bottom: 5px;
}
.card:hover .saveBtn,
.single-card:hover .saveBtn {
  opacity: 1;
  transition: 0.5s;
  top: 5px;

}
.img-caption {
  color: rgba(0,0,0,0);
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: fit-content;
  font-size: 1em;
  margin: auto;
  text-align: center;
  border-radius: var(--curved);
  padding: 0.5em;
  margin-bottom: 0;
  color: rgba(0,0,0,1);
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.6);
}



.img-caption,
.saveBtn,
.social-media {
  opacity: 0;
}
.saveBtn {
  color: rgba(0,0,0,1);
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  top: 0px;
  right: 5px;
  position: absolute;
  color: rgba(0,0,0,0);
  border-radius: var(--curved);
  padding: 0.5em;
}

.saveBtn > a {
  padding-right: 0.5em;
}
.saveBtn > a:hover {
  cursor: pointer;
  font-weight: bold;
}

.card:hover .social-media,
.single-card:hover .social-media {
  opacity: 1;
  transition: 0.5s;
}
.social-media {
  list-style: none;
  padding: 0.25em;
  display: none;
  margin: auto;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: var(--curved);
  background-color: rgba(50,50,50,0.6);


}

.social-media li {
  font-size: 1.5em;
  padding: 0.3em;
  color: white;
  
}

.social-media li:hover {
  color: gray;
  transition: 0.3s;
}

.share-link {
  display: none!important;
}

@media (min-width: 768px) {
  header {
    font-size: 1.75em;
  }

  .search-box {
    width: 70%;
    width: fit-content;
  }

  select, input, button {
    padding: 0.5em;
    font-size: 2em;
  }

  select[name="quant"] {
    font-size: 1.95em;
  }

  .card {
    width: 50%;
  }

  .img-caption {
  color: rgba(0,0,0,1);
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: fit-content;
  font-size: 1.5em;
  }

  .social-media {
    display: flex;
  }
}